<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="../../static/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ><i class="fa fa-comments"></i> <strong>MASTER </strong></a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="/index/index/"><i class="fa fa-fw fa-file"></i> 首页 </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 二维<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/index/pictureupload/">碎片上传</a>
                            </li>
                            <li>
                                <a href="/index/pictureshow/">图像展示</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 三维<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/index/pointupload/">点云上传</a>
                            </li>
                            <li>
                                <a href="/index/pointshow/">点云展示</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /hahah. NAV SIDE  -->
        <div id="page-wrapper" >
            <div>
                <div class="container">
                    <div style="margin-bottom: 10px">
                            <a class="btn btn-success" herf="#">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                点云成品上传</a>
                    </div>
                    <div style="margin: 20px 7px 10px" class="row">
                        <form action="/index/point_upload/" method="post" enctype="multipart/form-data">
                             <span class="row form-group col-lg-6">
                                <label type="text" class="form-control" for="point" id="file1">请选择点云文件</label>
                                <input type="file" name="pcl-upload" class="form-control" id="point" style="display: none">
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="point">提交</button>
                            </span>
                        </form>
                    </div>
                    <div style="margin: 10px 7px 10px" class="row">
                        <form action="/index/point_upload/" method="post" enctype="multipart/form-data">
                             <span class="row form-group col-lg-6">
                                <label type="text" class="form-control" for="patch" id="file2">请选择点云文件夹</label>
                                <input type="file" multiple="" webkitdirectory="" name="pcl-upload" class="form-control" id="patch" style="display: none">
                            </span>
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="lotpoint">提交</button>
                              </span>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div style="margin-bottom: 10px">
                        <a class="btn btn-success" herf="#">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            成品展示</a>
                    </div>
                    <div class="panel panel-default">
                         <div class="panel-heading">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                         <div class="panel-body">
                            <!--指定 date标记-->
                            <div class="row">
                                <form action="/index/point_upload/" method="post" onsubmit="return check_data()">
                                    <div class='col-sm-5'>
                                        <div class="form-group">
                                            <label>选择开始时间：</label>
                                            <!--指定 date标记-->
                                            <div class='input-group date' id='datetimepicker3'>
                                                <input id="d1" name="data1" type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-5'>
                                        <div class="form-group">
                                            <label>选择结束时间：</label>
                                            <!--指定 date标记-->
                                            <div class='input-group date' id='datetimepicker4'>
                                                <input id="d2" name="data2" type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class="form-group">
                                            <label>检索</label>
                                            <!--指定 date标记-->
                                            <div class='input-group date'>
                                                <div class="row">
                                                    <div class='col-sm-6'>
                                                        <button class="form-control btn-primary" name="button1" type="submit">搜索</button>
                                                    </div>
                                                    <div class='col-sm-6'>
                                                        <a class="btn form-control btn-primary" href="/index/pointdelete/">重置</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    <div>
                        <table class="table table-bordered" id="table2">
                            <thead>
                            <tr>
                                <th>员工编号</th>
                                <th>点云文件路径</th>
                                <th>上传日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in queryset %}
                                <tr>
                                    <th>{{ obj.user.userid }}</th>
                                    <th>{{ obj.pcl_img }}</th>
                                    <th>{{ obj.created_time }}</th>
                                    <th>
                                        <a class="btn btn-primary btn-xs" href="/index/pointshow1/?pcl_id={{ obj.id }}" target="_blank">查看</a>
                                        <a class="btn btn-danger btn-xs" href="/index/pointdelete/?pcl_id={{ obj.id }}">删除</a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../static/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="../../static/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="../../static/assets/js/custom-scripts.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $("#datetimepicker3").datetimepicker({
                format: 'YYYY-MM-DD hh:mm',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker4').datetimepicker({
                format: 'YYYY-MM-DD hh:mm',
                locale: moment.locale('zh-cn')
            });
            $('#point').on('change', function (e) {
                $("#file1").text($("#point").val())
            })
            $('#patch').on('change', function (e) {
                $("#file2").text($("#patch").val())
            })
        });
        function check_data(){
                var data1 = $("#d1").val()
                var data2 = $("#d2").val()
                if(data2 ===''&& data1 === '')
                {
                    alert("起始日期或终止日期不能为空");
                    return false;
                }else{
                    return true;
                }
            }
        function file(){
            alert($("#filell").val())
            {#$("#file_label").text($("#filell").val())#}
        }
    </script>
   
</body>
</html>
