<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录界面</title>
    <link rel="stylesheet" href="../../static/css/styleLogin.css"/>
</head>
<body>
<!--<img src="../../static/image/星空.jpg" width="200px" height="200px">-->
    <div class="container">
        <div class="panel">
            <div class="content">
                <div class="switch">
                    <h1 id="login">登录</h1>
                </div>

                <form action="/user/login1/" method="post">

                    <div id="userid" class="input" aria-placeholder="员工编号"><input type="text" name="userid"></div>
                    <div id="password" class="input" aria-placeholder="密码"><input type="password" name="password"></div>

                    <p>
                        <a id="signUp" href="/user/reg/" class="input">跳转注册</a>
                    </p>
                    <button class="button" type="submit">登录</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.js"></script>
<script>

    $('.input input').on('focus',function () {
        $(this).parent().addClass('focus');
    })

    $('.input input').on('blur',function () {
        if($(this).val() === '')
            $(this).parent().removeClass('focus');
    })
</script>

</html>